<div class="panel panel-primary" id="new-panel" >
    <div class="panel-heading">
        Add information about your trophy:
    </div>
    <div class="panel-body">
        <div class="col-xs-12 col-md-12 col-lg-4" >
            <div class="input-group">
                <label for="species_id" class="input-group-addon" >Fish Species:</label>
                <input type="text" class="form-control" id="species_id" aria-describedby="trophy_species" >
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4" >
            <div class="input-group">
                <label for="length" class="input-group-addon">Length:</label>
                <input type="number" class="form-control" id="length" aria-describedby="trophy_length" >
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4" >
            <div class="input-group">
                <label for="girth" class="input-group-addon">Girth:</label>
                <input type="number" class="form-control" id="girth" aria-describedby="trophy_girth" >
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" >
            <div class="input-group">
                <label for="fly_id" class="input-group-addon" >Fly Used:</label>
                <input type="text" class="form-control" id="fly_id" aria-describedby="trophy_fly"  >

            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" >
            <div class="input-group">
                <label for="technique_id" class="input-group-addon" >Technique Used:</label>
                <select class="form-control"  id="technique_id" aria-describedby="trophy_technique" datasrc="technique_type.technique" >
                    <option value="">Make a selection</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-md-10 col-lg-10 " >
            <div class="input-group" >
                <label for="photo_id" class="input-group-addon" id="trophy_photo">Add Photos:</label>
                <div class="form-control" style="display: inline-table;" >
                    <input type="text" class="form-control" aria-describedby="trophy_photo" id="photo_id" value="Enter photo id">
                    <ul id="photo_list" class="list-inline"  >

                    </ul>
                </div>
            </div>
        </div >
        <div class="col-xs-12 col-md-2 col-lg-2">
             <label for="trophy_upload" class="btn btn-primary btn-sm btn-file" style="margin-bottom: 10px; width: 100%; padding-top: 5px; padding-bottom: 5px">Add Photo
                 <input type="file" accept="image/*" id="trophy_upload">
             </label>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12" >
            <div class="input-group">
                <label for="comment" class="input-group-addon" >Comments:</label>
                <textarea class="form-control" aria-describedby="trophy_comment" id="comment" ></textarea>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12">

        </div>
        <div class="pull-right">
            <button type="button" class="button btn-primary" id="remove-panel">-</button>
        </div>
    </div>
</div>