
<form role="form" id="journalEntry" action="journalSubmit" method="post">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Tell us about your trip.
            </div>
            <div class="panel-body" >
                <div class="col-xs-12 col-md-4 col-lg-4" >
                    <div class="input-group">
                        <label class="input-group-addon" for="state_id">State:</label>
                        <select class="form-control"  id="state_id" aria-describedby="state-select" datasrc="state_type.name" >
                            <option value="">Make a selection</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8 col-lg-8" >
                    <div class="input-group">
                        <label for="location_id" class="input-group-addon" >Fishing Spot:</label>
                        <input type="text" id="location_id" class="form-control" aria-describedby="location" >
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6" >
                    <div class="input-group">
                        <label for="date" class="input-group-addon">Date of Trip:</label>
                        <input type="date"  id="date" class="form-control" aria-describedby="date" >
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6" >
                    <div class="input-group">
                        <label for="time_of_day_id" class="input-group-addon" >Time of Day:</label>
                        <select class="form-control" id="time_of_day_id" aria-describedby="time" datasrc="time_of_day_type.daytime" >
                            <option value="">Make a selection</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12" >
                    <div class="input-group">
                        <label for="comment" class="input-group-addon" >Comments:</label>
                        <textarea id="comment"  class="form-control" aria-describedby="comment"  ></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                How was the the weather?
            </div>
            <div class="panel-body">

                <div class="col-xs-12 col-md-6 col-lg-4" >
                    <div class="input-group">
                        <label for="weather_id" class="input-group-addon" >Conditions:</label>
                        <select class="form-control" id="weather_id" aria-describedby="weather-condition" datasrc="weather_type.conditions" >
                            <option value="">Make a selection</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4" >
                    <div class="input-group">
                        <label for="precip_id" class="input-group-addon" >Precipitation:</label>
                        <select class="form-control" id="precip_id" aria-describedby="precipitation" datasrc="precip_type.precipitation" >
                            <option value="">Make a selection</option>
                        </select>
                    </div>

                </div>
                <div class="col-xs-12 col-md-6 col-lg-4" >
                    <div class="input-group">
                        <label for="air_temp" class="input-group-addon" >Air Temp:</label>
                        <input type="number" id="air_temp" class="form-control" aria-describedby="air_temp" >
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6" >
                    <div class="input-group">
                        <label for="water_temp" class="input-group-addon">Water Temp:</label>
                        <input type="number" id="water_temp" class="form-control" aria-describedby="water_temp" >
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6" >
                    <div class="input-group">
                        <label for="clarity_id" class="input-group-addon">Water Clarity:</label>
                        <select class="form-control"  id="clarity_id" aria-describedby="water_clarity" datasrc="water_clarity_type.clarity" >
                            <option value="">Make a selection</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6" >
                    <div class="input-group">
                        <label for="wind_speed" class="input-group-addon">Wind Speed:</label>
                        <input type="number" id="wind_speed" class="form-control" aria-describedby="wind_speed" >
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6" >
                    <div class="input-group">
                        <label for="wind_direction_id" class="input-group-addon">Wind Direction:</label>
                        <select class="form-control" id="wind_direction_id" aria-describedby="water_direction" datasrc="wind_direction_type.direction" >
                            <option value="">Make a selection</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                What did you catch?
            </div>

            <div class="panel panel-primary" style="margin: 10px">
                <div class="panel-body" >
                    Add trophy catches:
                    <div class="pull-right">
                        <button type="button" class="button btn-primary" id="add-trophy-button">+</button>
                    </div>
                    <div id="trophy-panel" style="padding-top: 15px;">

                    </div>

                </div>
                <div class="panel-footer">
                    Click the + sign to add information about your trophy catches.
                </div>
            </div>

            <div class="panel panel-primary" style="margin: 10px">
                <div class="panel-body" >
                    Add general catches:
                    <div class="pull-right">
                        <button type="button" class="button btn-primary" id="add-fish-button">+</button>
                    </div>
                    <div id="fish-panel" style="padding-top: 15px;"></div>
                </div>

                <div class="panel-footer">
                    Click the + sign to add information on the fish you caught.
                </div>
            </div>
        </div>

        <button type="submit"  class="btn btn-primary btn-lg pull-right" style="margin-top: 10px;" id="journal_submit">Submit</button>
    </div>
</form>