<div class="panel panel-primary"  id="new-panel" >
    <div class="panel-heading">
        Add information about your fish caught:
    </div>
    <div class="panel-body">

    <div class="col-xs-12 col-md-8 col-lg-8" >
        <div class="input-group">
            <label for="fish_species_id" class="input-group-addon" >Fish Species:</label>
            <input type="text" class="form-control" id="fish_species_id" aria-describedby="fish_species" name="fish_species" >
        </div>
    </div>
        <div class="col-xs-12 col-md-4 col-lg-4" >
        <div class="input-group">
            <label for="number" class="input-group-addon" >Number Caught:</label>
            <input type="number" class="form-control" id="number" aria-describedby="fish_number" name="fish_number" >
        </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12" >
        <div class="input-group">
            <label for="fly_id" class="input-group-addon" >Fly Used:</label>
            <input type="text" class="form-control"  id="fly_id" aria-describedby="fly_used" name="fly_used" >
        </div>
        </div>
        <div class="pull-right">
            <button type="button" class="button btn-primary" id="remove-panel">-</button>
        </div>
    </div>
</div>