<div id="signinModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->

		<div class="modal-content" id="signinContent">
			<form role="form" action="/doSignin" id="signinForm" method="post">
				<div class="modal-body">
					<div class="panel panel-primary" style="margin-bottom:0">
						<div class="panel-heading">
							<button type="button" class="close" data-dismiss="modal"  id="close-signin" data-toggle="collapse" data-target="#navbar-collapse">&times;</button>
							<h4 class="modal-title">Sign In</h4>
						</div>
						<div class="panel-body">
							<div class="alert alert-warning" role="alert" style="display:none;" id="signinWarn">

							</div>
							<div class="alert alert-danger" role="alert" style="display:none;" id="signinError">

							</div>
							<div class="form-group">
								<label for="username">Username:</label>
								<input type="text"  name="username" id="username">
							</div>
							<div class="form-group">
								<label for="password">Password:</label>
								<input type="password"  name="password" id="password">
							</div>
							<div class="checkbox">
								<label><input type="checkbox" id="remember-me" name="remember-me">Remember me</label>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" value="signin" class="btn btn-primary">Submit</button>
					<br>
					<a href="" id="forgotPassword">Forgot Password</a>
				</div></form>
		</div>

		<div class="modal-content" id="forgotPasswordContent" style="visibility: hidden; top: -305px">
			<form role="form" id="forgotPasswordForm" method="post" action="/doRecoverPassword">
				<div class="modal-body">
					<div class="panel panel-primary" style="margin-bottom:0">
						<div class="panel-heading">
							<button type="button" class="close" id="close-forgot-password" data-dismiss="modal"  data-toggle="collapse" data-target="#navbar-collapse">&times;</button>
							<h4 class="modal-title">Password Recovery</h4>
						</div>
						<div class="panel-body">
							<div class="alert alert-danger" role="alert" style="display:none;" id="forgotPasswordError">

							</div>
							<div class="form-group">
								<label for="email">Enter email:</label>
								<input type="email"  id="email" name="email">
							</div>

						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" value="recover_password" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>


